{% extends 'base.html' %}
{% load static %}

{% block contents %}
    <body>
    <div class="post">
        {% for item in object_list %}
            ユーザー: <a href="{% url 'users:profile' pk=item.contributor.pk %}">{{ items.contributor.user_name }}</a>
            アイテム名: <a href="{% url 'accounts:item_detail' pk=item.pk %}">{{ item.name }}</a>
            <p>カテゴリー: {{ item.category }}</p>
            {% for image in object_list %}
        イメージ：<img src="{{ item.src.url }}" style="width: 300px;height: auto;"/>
        {% endfor %}
        {% endfor %}

        </div>
    </body>
{% endblock %}
<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>