{% extends 'base.html' %}
{% load static %}

{% block contents %}
    <body>
    <div class="post">

        {% for item in items %}
            ユーザー: <a href="{% url 'accounts:user_item_list' pk=item.pk %}">{{ user.user_name }}</a>
            アイテム名: <a href="{% url 'accounts:item_detail' pk=item.pk %}">{{ item.name }}</a>
            <p>カテゴリー: {{ item.category }}</p>
        {% endfor %}
        </div>
    </body>
{% endblock %}
<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>