{% extends 'base.html' %}
{% load static %}

{% block contents %}
    <body>
        <p>ユーザー: {{ item.contributor.user_name }}</p>
            <p>アイテム名: {{ item.name }}</p>
            <p>カテゴリー: {{ item.category }}</p>
            <p>状態: {{ item.condition }}</p>
            <p>モデル名: {{ item.item_model }}</p>
            <p>作成日: {{ item.created_at }}</p>
            <p>備考: {{ item.text }}</p>
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'accounts:item_update' pk=item.pk %}">編集</a>
        <a class="btn btn-default" href="{% url 'accounts:item_delete' pk=item.pk %}">削除</a>
        <h2>コメント</h2>
        <ul>
        {% for reply in replys %}
        会社:{{ user.company_name }}<br>
        金額:{{ reply.price }}<br>
        備考:{{ reply.text }}<br>
        <a class="btn btn-default" href="{% url 'company:reply_delete' pk=reply.pk %}">削除</a><br>
        {% endfor %}
        </ul>
        {% endif %}
        {% if not user.is_customer.is_superuser %}
        <a class="btn btn-default" href="{% url 'company:reply_create' pk=item.pk %}">新規概算</a>
        {% endif %}


</body>
{% endblock %}
