{% extends 'base.html' %}
{% load static %}


{% block contents %}

    <body>
        <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
        </form>
    <div class="post">
        {% for item in products %}
            <p>ユーザー: {{ item.contributor }}</p>
            アイテム名: <a href="{% url 'accounts:item_detail' pk=item.pk %}">{{ item.name }}</a>
            <p>カテゴリー: {{ item.category }}</p>
        {% endfor %}
        </div>
    </body>
{% endblock %}
<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>

</html>
